.product-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
}
.form-control {
    margin: 1rem 0;
}
.form-control label,
.form-control input,
.form-control textarea {
     display: block;
     width: 100%;
}
.form-control input,
.form-control textarea {
    border: 1px solid rgb(44, 218, 44);
    font: inherit;
    border-radius: 2px;
}
button {
    font: inherit;
    background-color: white;
    border: 1px solid rgb(44, 218, 44);
    border-radius: 5px;
    cursor: pointer;
    color: rgb(44, 218, 44);;
}
button:hover,
button:active {
    color: goldenrod;
    background-color:rgb(44, 218, 44);
}

.centered {
    text-align: center;
}
.product-item {
    width: 20rem;
    max-width: 95%;
}

.product__title {
    font-size: 1.2rem;
    text-align: center;
}

.product__price {
    text-align: center;
    color: #4d4d4d;
    margin-bottom: 0.5rem;
}

.product__description {
    text-align: center;
}